
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
              
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800" style="margin-top: 12px;">Dashboard</h1>
                       
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">

                    
                            <a href="/viewresults" class="link-Dark" style="text-decoration: none; font-weight: bolder; font-size:x-large;">View results</a>
                        
                      
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                          
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                
                                                </div>
                                                
                        <div>
                           
                              <a href="/viewPerfomance" class="link-Dark"  style="text-decoration: none; font-weight: bolder; font-size:x-large;"> View Perfomance</a>
                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                      
                        <div class="col-xl-3 col-md-6 mb-4">
                            
                            </div>
                        </div>

    </div>