<form action="/populategraph" method="post">

 <div id="content-wrapper" class="d-flex flex-column">

    <div id="content">

        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <div class="dropdown" style="padding: 8px;">
                <label for="year" style="font-size: medium; font-weight: bolder; padding: 12px 20px 0px; color:blue;">YEAR</label>
                <select name="year" class="form-select"style="border: 2px solid color: #fff;">
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                  </select> 
            
              </div>
              
            <div class="dropdown">
                <input type="text" placeholder="Class eg 1A" style="border: 2px solid #fff;" name="cls" >
                <label for="year" style="font-size: medium; font-weight: bolder; padding: 12px 20px 0px; color:blue;">TERM</label>
                <select name="term" class="form-select" style="border: 2px solid #fff;">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select> 

                 
            
              </div>
            <button style="padding: 12px 50px; margin-top: 40px; margin-left: 50px;background: transparent; border: solid 1px gray;">Search</button>
        </nav>
</form>