  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
        </div>
        <div class="sidebar-brand-text mx-3">Teacher</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" href="/teacher">
            <span style="font-size:small;">TABLE</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/upload">
            <span style="font-size:small;">UPLOAD</span></a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="/logout">
            <span style="font-size:small;">LOGOUT</span></a>
    </li>
    <hr class="sidebar-divider d-none d-md-block">
</ul>