    <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">


                         <form action="/search" method="post">
                             
                            <div class="h5 mb-0 font-weight-bold text-gray-800"> <label for="Part" class="form-label">YEAR</label>
                                <select name="year" id="part" class="form-select" style="border: none; background: transparent;">
                                    
                                    <option value="2022">2022</option>
                                    <option value="2021">2021</option>
                                    <option value="2020">2020</option>
                                    <option value="2019">2019</option>
                                
                                  </select>
                                </div>
        
                                <div class="h5 mb-0 font-weight-bold text-gray-800"> <label for="Part" class="form-label">TERM</label>
                                    <select name="term" id="part" class="form-select" style="border: none; background: transparent;">
                                        
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                       
                                    
                                      </select>
                                    </div>
                                                </div>
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-success shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
        
                                                        
                                <div class="h5 mb-0 font-weight-bold text-gray-800"> <label for="Part" class="form-label">Class</label>
                                      <input style="border: none; background: transparent;" class="h5 mb-0 font-weight-bold text-gray-800" type="text" name="cls" placeholder="Class eg 1A" required>
                                    </div>
                                                </div>
                                                <input class="h5 mb-0 font-weight-bold text-gray-800" type="submit" value="Search" style="border: none;border-color: skyblue; background: transparent;">
                                                
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>

                               
                         </form>                   
                                         


                      
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                        

                                                        <label for="Number" class="form-label"><%= num %></label>
                                                        <label for="num" class="form-label">Students</label>


                                                     

                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                      

